<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daiphongpc.gd3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".qlyTaiLieu.SachAcivity" />
        <activity android:name=".qlyTaiLieu.TaiLieuActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".BT_Edit.EditActivity" />
        <activity android:name=".BT_Edit.BTeditActivity" />
        <activity android:name=".BT_Drawable.BTDrawActivity" />
        <activity
            android:name=".listview.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme" />
        <activity android:name=".listview.AndroidStudentActivity" />
        <activity android:name=".Recyclerview.RecyclerViewActivity" />
        <activity android:name=".Recyclerview.MultiTypeRecyclerViewActivity" />
        <activity android:name=".Recyclerview.contact.GoProContactActivity" />
        <activity android:name=".Recyclerview.contact.AddContactActivity" />
        <activity android:name=".sharepredferences.LoginActivity" />
        <activity android:name=".sharepredferences.WaitActivity" />
        <activity android:name=".sharepredferences.HomeActivity" />
        <activity android:name=".json.JsonDemoActivity"></activity>
        <activity android:name=".json.detail.DetailActivity" />
        <activity android:name=".network.LoginWithNetWorkActivity">

        </activity>
        <activity android:name=".network.BtRetrofit.ShoseListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>